<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2020 Frans van Dorsselaer

SPDX-License-Identifier: GPL-3.0-only
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <PublishDir>bin\publish</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <TargetFramework>netstandard2.0</TargetFramework>
  </PropertyGroup>
</Project>