# SPDX-FileCopyrightText: 2020 Frans van Dorsselaer
#
# SPDX-License-Identifier: GPL-2.0-only

# default: normalize EOL
* text=auto

.gitattributes   text
.gitignore       text
.editorconfig    text
.json            text
.license         text

*.md    text
*.txt   text

*.yml   text

*.sln   text

*.csproj   text
*.cs       text eol=crlf
*.props    text

*.wixproj   text
*.wxs       text
*.xslt      text
*.png       binary
*.xcf       binary

# VBoxUsb drivers
*.cat   binary
*.inf   text
*.sys   binary
*.cer   binary

# Linux scripts
*.sh   text eol=lf
