# SPDX-FileCopyrightText: 2020 Frans van Dorsselaer
#
# SPDX-License-Identifier: GPL-3.0-only

# default: normalize EOL
* text=auto

.gitattributes   text
.gitignore       text
.editorconfig    text
.json            text
.license         text

*.md    text
*.txt   text

*.yml   text

*.sln   text
*.snk   binary

*.csproj   text
*.cs       text eol=crlf
*.props    text
*.targets  text

*.wixproj   text
*.wxs       text
*.xslt      text
*.ico       binary
*.png       binary
*.xcf       binary

usb.ids   text eol=lf

# VBoxUsb drivers
*.cat   binary
*.inf   text eol=crlf
*.sys   binary

# Linux scripts
*.sh   text eol=lf
