<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2021 Frans van Dorsselaer

SPDX-License-Identifier: GPL-2.0-only
-->
<configuration>
    <packageSources>
        <clear />
        <add key="NuGet official package source" value="https://api.nuget.org/v3/index.json" />
    </packageSources>

    <packageSourceMapping>
        <packageSource key="NuGet official package source">
            <package pattern="*" />
        </packageSource>
    </packageSourceMapping>
</configuration>
