<?xml version="1.0" encoding="utf-8"?>
<!--
SPDX-FileCopyrightText: 2025 Frans van Dorsselaer

SPDX-License-Identifier: GPL-3.0-only
-->
<Project>
  <PropertyGroup>
    <Configuration>Release</Configuration>
    <Platform>arm64</Platform>
    <PublishDir>bin\publish\arm64</PublishDir>
    <PublishProtocol>FileSystem</PublishProtocol>
    <RuntimeIdentifier>win-arm64</RuntimeIdentifier>
    <SelfContained>true</SelfContained>
    <PublishSingleFile>false</PublishSingleFile>
    <PublishReadyToRun>false</PublishReadyToRun>
  </PropertyGroup>
</Project>