# SPDX-FileCopyrightText: 2020 Frans van Dorsselaer
#
# SPDX-License-Identifier: GPL-3.0-only

---
# yaml-language-server: $schema=https://json.schemastore.org/github-workflow.json

name: Build

on:
  push:
    branches: [master]
  pull_request:
    branches: [master]

permissions:
  contents: read
  issues: read
  checks: write
  pull-requests: write
  id-token: write
  attestations: write

jobs:
  build:
    runs-on: windows-latest

    env:
      NUGET_PACKAGES: ${{ github.workspace }}/.nuget/packages
      DOTNET_CLI_WORKLOAD_UPDATE_NOTIFY_DISABLE: true

    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0

      - name: Setup .NET
        uses: actions/setup-dotnet@v5
        with:
          cache: true
          cache-dependency-path: |
            global.json
            '**/packages.lock.json'

      - name: Install dependencies
        run: |
          dotnet restore
          dotnet restore Installer

      - name: Build
        run: |
          dotnet build --configuration Release --no-restore --property:Platform=x64
          dotnet build --configuration Release --no-restore --property:Platform=ARM64 Usbipd

      - name: Test
        run: |
          dotnet test --configuration Release --no-build --property:Platform=x64 `
            --report-spekt-junit `
            --coverage --coverage-output-format cobertura --coverage-output coverage.cobertura.xml

      - name: Build x64 Installer
        run: |
          dotnet publish --configuration Release --no-build --runtime win-x64 --property:PublishProfile=x64 Usbipd
          dotnet publish --configuration Release --no-build Usbipd.PowerShell
          dotnet build --configuration Release --no-restore --property:Platform=x64 Installer

      - name: Build arm64 Installer
        run: |
          dotnet publish --configuration Release --no-build --runtime win-arm64 --property:PublishProfile=arm64 Usbipd
          dotnet build --configuration Release --no-restore --property:Platform=ARM64 Installer

      # GitHub will always zip the artifacts and add .zip to the filename.
      # Therefore, it makes no sense to upload individual .msi files. We always upload everything as a single artifacts container.
      - name: Upload Artifacts
        id: upload
        uses: actions/upload-artifact@v7
        with:
          name: artifacts
          path: 'Installer/bin/*/release/*.msi'

      - name: Build Attestation
        uses: actions/attest@v4
        with:
          subject-name: artifacts.zip
          subject-digest: sha256:${{ steps.upload.outputs.artifact-digest }}

      - name: Upload test results to Codecov
        if: ${{ !cancelled() }}
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          report_type: test_results
          files: '**/TestResults/TestResults.xml'
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}

      - name: Upload coverage to Codecov
        uses: codecov/codecov-action@v5
        with:
          fail_ci_if_error: true
          files: '**/TestResults/coverage.cobertura.xml'
          disable_search: true
          token: ${{ secrets.CODECOV_TOKEN }}
