# SPDX-FileCopyrightText: 2020 Frans van Dorsselaer
#
# SPDX-License-Identifier: GPL-2.0-only

name: Build

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

jobs:
  build:

    runs-on: windows-latest

    steps:
    - name: Checkout
      uses: actions/checkout@v2.3.4
      with:
        fetch-depth: 0
    - name: Setup .NET
      uses: actions/setup-dotnet@v1.8.2
      with:
        dotnet-version: 5.0.x
    - name: Cache
      uses: actions/cache@v2.1.6
      with:
        path: ~/.nuget/packages
        key: ${{ runner.os }}-nuget-${{ hashFiles('**/Directory.Packages.props', '**/global.json') }}
    - name: Install dependencies
      run: dotnet restore
    - name: Build
      run: dotnet build --configuration Release --no-restore UsbIpServer
    - name: Setup MSBuild
      uses: microsoft/setup-msbuild@v1
    - name: Build (Installer)
      run: msbuild Installer
    - name: Upload Installer Artifact
      uses: actions/upload-artifact@v2
      with:
        name: msi-installer
        path: "Installer/bin/release/*.msi"
