<?xml version="1.0" encoding="UTF-8"?>
<!--
    usbipd-win
    Copyright (C) 2020  Frans van Dorsselaer

    This program is free software: you can redistribute it and/or modify
    it under the terms of the GNU General Public License as published by
    the Free Software Foundation, either version 3 of the License, or
    (at your option) any later version.

    This program is distributed in the hope that it will be useful,
    but WITHOUT ANY WARRANTY; without even the implied warranty of
    MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
    GNU General Public License for more details.

    You should have received a copy of the GNU General Public License
    along with this program.  If not, see <https://www.gnu.org/licenses/>.
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:difx="http://schemas.microsoft.com/wix/DifxAppExtension">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Directory Id="Drivers" Name="Drivers" FileSource="$(var.DriversDir)" />
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="Drivers">
            <Directory Id="VBoxUSB" Name="VBoxUSB" FileSource="$(var.DriversDir)">
                <Component Id="VBoxUSB.cat">
                    <File Source="$(var.DriversDir)\VBoxUSB.cat" />
                </Component>
                <Component Id="VBoxUSB.sys">
                    <File Source="$(var.DriversDir)\VBoxUSB.sys" />
                </Component>
                <Component Id="VBoxUSB.inf">
                    <File Source="$(var.DriversDir)\VBoxUSB.inf" />
                    <difx:Driver AddRemovePrograms="no" PlugAndPlayPrompt="no" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <DirectoryRef Id="Drivers">
            <Directory Id="VBoxUSBMon" Name="VBoxUSBMon" FileSource="$(var.DriversDir)">
                <Component Id="VBoxUSBMon.cat">
                    <File Source="$(var.DriversDir)\VBoxUSBMon.cat" />
                </Component>
                <Component Id="VBoxUSBMon.sys">
                    <File Source="$(var.DriversDir)\VBoxUSBMon.sys" />
                </Component>
                <Component Id="VBoxUSBMon.inf">
                    <File Source="$(var.DriversDir)\VBoxUSBMon.inf" />
                    <difx:Driver AddRemovePrograms="no" PlugAndPlayPrompt="no" />
                </Component>
            </Directory>
        </DirectoryRef>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="VBoxUSB">
            <ComponentRef Id="VBoxUSB.cat" />
            <ComponentRef Id="VBoxUSB.sys" />
            <ComponentRef Id="VBoxUSB.inf" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="VBoxUSBMon">
            <ComponentRef Id="VBoxUSBMon.cat" />
            <ComponentRef Id="VBoxUSBMon.sys" />
            <ComponentRef Id="VBoxUSBMon.inf" />
        </ComponentGroup>
    </Fragment>
    <Fragment>
        <ComponentGroup Id="Drivers">
            <ComponentGroupRef Id="VBoxUSB" />
            <ComponentGroupRef Id="VBoxUSBMon" />
        </ComponentGroup>
    </Fragment>
</Wix>
