<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: 2020 Frans van Dorsselaer

SPDX-License-Identifier: GPL-2.0-only
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
        Id="$(var.ProductId)"
        Name="usbipd-win"
        Language="1033"
        Version="$(var.GitVersion_MajorMinorPatch)"
        Manufacturer="Frans van Dorsselaer"
        UpgradeCode="{EA1D5623-E6A7-4E4A-9259-E3972226646F}"
        >
        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

        <?ifdef Debug ?>
        <MediaTemplate EmbedCab="yes" CompressionLevel="none" />
        <?else?>
        <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
        <?endif?>

        <!--
        We guarantee that two different x.y.z versions will have a different ProductId, so
        everything is always a MajorUpgrade. MinorUpdates and Patches have many requirements
        for Feature and Component changes, which we will no doubt forget about in the future.
        This being a small product, a MajorUpgrade is a small price to pay to prevent any mishaps.
        Since we strictly follow component rules, we use afterInstallExecute to speed things up a bit.
        -->
        <MajorUpgrade
            Schedule="afterInstallExecute"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed."
            />

        <Property Id="ARPURLINFOABOUT">https://github.com/dorssel/usbipd-win</Property>
        <Property Id="ARPURLUPDATEINFO">https://github.com/dorssel/usbipd-win/releases</Property>
        <Property Id="ARPHELPLINK">https://github.com/dorssel/usbipd-win/issues</Property>

        <Property Id="MSIDEPLOYMENTCOMPLIANT" Value="1" />

        <!--
        We use .NET trimmed publishing, which will modify the .NET DLLs, but keeps the file version the same.
        Therefore, we must always overwrite all files, as the trimming may be different from one build to another.
        This is safe, since we only install files in our own dedicated application directory.
        -->
        <SetProperty Action="SetREINSTALLMODE" Id="REINSTALLMODE" Value="amus" Before="CostInitialize" Sequence="first">NOT REINSTALLMODE</SetProperty>

        <!--
        MSI specifies that TARGETDIR overrides the default installation location, and winget relies on that.
        WiX, however, uses APPLICATIONFOLDER.
        So, if TARGETDIR is set and APPLICATIONFOLDER is not, then copy TARGETDIR to APPLICATIONFOLDER.
        See:
        https://docs.microsoft.com/en-us/windows/win32/msi/targetdir
        https://docs.microsoft.com/en-us/windows/win32/msi/changing-the-target-location-for-a-directory
        -->
        <SetProperty Action="UseTARGETDIR" Id="APPLICATIONFOLDER" Value="[TARGETDIR]" Before="PreserveCurrentInstallationLocation" Sequence="first">TARGETDIR AND NOT APPLICATIONFOLDER</SetProperty>

        <!--
        Get the current installation location (if any).
        -->
        <Property Id="CURRENTINSTALLATIONLOCATION">
            <RegistrySearch Id="APPLICATIONFOLDER"
                            Root="HKLM"
                            Key="SOFTWARE\usbipd-win"
                            Name="APPLICATIONFOLDER"
                            Type="directory"
                            />
        </Property>

        <!--
        If the product is currently installed and the APPLICATIONFOLDER has not been set yet, then preserve the current installation directory.
        This allows users to:
        a) specify a non-default installation location on first install, which is then preserved when updating using defaults.
        b) specify APPLICATIONFOLDER (or TARGETDIR) when updating, which will change the installation directory.
        -->
        <SetProperty Action="PreserveCurrentInstallationLocation" Id="APPLICATIONFOLDER" Value="[CURRENTINSTALLATIONLOCATION]" Before="CostInitialize" Sequence="first">CURRENTINSTALLATIONLOCATION AND NOT APPLICATIONFOLDER</SetProperty>

        <SetProperty Id="ARPINSTALLLOCATION" Value="[APPLICATIONFOLDER]" After="CostFinalize" />

        <Feature
            Id="Server"
            Level="1"
            AllowAdvertise="no"
            Display="expand"
            Absent="disallow"
            Title="Server"
            Description="The user mode server application, installed as a service."
            >
            <ComponentGroupRef Id="UsbIpServer" />
            <ComponentRef Id="usbipd.exe" />
            <Feature
                Id="Drivers"
                Level="1"
                AllowAdvertise="no"
                Title="Drivers"
                Description="The VirtualBox USB drivers."
                >
                <ComponentGroupRef Id="Drivers" />
            </Feature>
            <Feature
                Id="PowerShell"
                Level="1"
                AllowAdvertise="no"
                Display="expand"
                Absent="disallow"
                Title="PowerShell Support"
                Description="A loadable module for PowerShell."
                >
                <ComponentGroupRef Id="PowerShell" />
            </Feature>
        </Feature>

        <UIRef Id="UserInterface"/>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="APPLICATIONFOLDER" Name="usbipd-win" FileSource="$(var.PublishDir)">
                    <Directory Id="PowerShell" Name="PowerShell" FileSource="$(var.PowerShellDir)" />
                </Directory>
            </Directory>
        </Directory>
    </Fragment>
</Wix>
