<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: 2020 Frans van Dorsselaer

SPDX-License-Identifier: GPL-2.0-only
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi">
    <Product
        Id="$(var.ProductId)"
        Name="usbipd-win"
        Language="1033"
        Version="$(var.GitVersion_MajorMinorPatch)"
        Manufacturer="Frans van Dorsselaer"
        UpgradeCode="{EA1D5623-E6A7-4E4A-9259-E3972226646F}"
        >
        <Package InstallerVersion="500" Compressed="yes" InstallScope="perMachine" />

        <?ifdef Debug ?>
        <MediaTemplate EmbedCab="yes" CompressionLevel="none" />
        <?else?>
        <MediaTemplate EmbedCab="yes" CompressionLevel="high" />
        <?endif?>

        <!--
        We guarantee that two different x.y.z versions will have a different ProductId, so
        everything is always a MajorUpgrade. MinorUpdates and Patches have many requirements
        for Feature and Component changes, which we will no doubt forget about in the future.
        This being a small product, a MajorUpgrade is a small price to pay to prevent any mishaps.
        Since we strictly follow component rules, we use afterInstallExecute to speed things up a bit.
        -->
        <MajorUpgrade
            Schedule="afterInstallExecute"
            DowngradeErrorMessage="A newer version of [ProductName] is already installed."
            />

        <Property Id="ARPURLINFOABOUT">https://github.com/dorssel/usbipd-win</Property>
        <Property Id="ARPURLUPDATEINFO">https://github.com/dorssel/usbipd-win/releases</Property>
        <Property Id="ARPHELPLINK">https://github.com/dorssel/usbipd-win/issues</Property>

        <Feature
            Id="Server"
            Level="1"
            AllowAdvertise="no"
            Display="expand"
            Absent="disallow"
            Title="Server"
            Description="The user mode server application, installed as a service."
            >
            <ComponentGroupRef Id="UsbIpServer" />
            <ComponentRef Id="usbipd.exe" />
            <Feature
                Id="Drivers"
                Level="1"
                AllowAdvertise="no"
                Title="Drivers"
                Description="The VirtualBox USB drivers."
                >
                <ComponentGroupRef Id="Drivers" />
            </Feature>
        </Feature>

        <UIRef Id="UserInterface"/>
    </Product>

    <Fragment>
        <Directory Id="TARGETDIR" Name="SourceDir">
            <Directory Id="ProgramFiles64Folder">
                <Directory Id="APPLICATIONFOLDER" Name="usbipd-win" FileSource="$(var.PublishDir)" />
            </Directory>
        </Directory>
    </Fragment>
</Wix>
