<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: 2020 Frans van Dorsselaer

SPDX-License-Identifier: GPL-2.0-only
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <!--
            The product name is 'usbipd-win', but our users are well aware they are
            running a Windows operating system. Hence, the executable, service name,
            and firewall rule do not use the '-win' postfix.
            -->
            <Component Id="usbipd.exe">
                <!--
                The assemblyname is called UsbIpServer for historic reasons,
                'usbipd.exe' is the canonical executable name.
                -->
                <File Source="$(var.PublishDir)\UsbIpServer.exe" Name="usbipd.exe">
                    <fw:FirewallException
                        Id="usbipd"
                        Name="usbipd"
                        Protocol="tcp"
                        Port="3240"
                        Profile="all"
                        Scope="localSubnet"
                        Description="Allow computers on local subnets to access the USBIP Host Service."
                    />
                </File>
                <ServiceInstall
                    Type="ownProcess"
                    ErrorControl="ignore"
                    Name="usbipd"
                    Arguments="server"
                    Start="auto"
                    DisplayName="USBIP Service"
                    Description="Enables sharing of locally connected USB devices to other machines."
                    />
                <!-- Stop and remove the old service of version <= 0.3.1, if any -->
                <ServiceControl
                    Id="usbipd_old"
                    Name="usbipd-win"
                    Remove="both"
                    Stop="both"
                    />
                <ServiceControl
                    Id="usbipd"
                    Name="usbipd"
                    Remove="uninstall"
                    Stop="both"
                    Start="install"
                    />
                <!--
                The registry uses the full product name by convention.
                -->
                <RegistryKey
                    Root="HKLM"
                    Key="SOFTWARE\usbipd-win"
                    ForceCreateOnInstall="yes"
                    ForceDeleteOnUninstall="yes"
                    />
                <Environment
                    Id="PATH"
                    Name="PATH"
                    Action="set"
                    Permanent="no"
                    System="yes"
                    Part="last"
                    Value="[APPLICATIONFOLDER]"
                    />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
