<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: 2020 Frans van Dorsselaer

SPDX-License-Identifier: GPL-2.0-only
-->
<Wix xmlns="http://schemas.microsoft.com/wix/2006/wi"
     xmlns:fw="http://schemas.microsoft.com/wix/FirewallExtension">
    <Fragment>
        <DirectoryRef Id="APPLICATIONFOLDER">
            <Component Id="UsbIpServer.exe">
                <File Source="$(var.PublishDir)\UsbIpServer.exe">
                    <fw:FirewallException
                        Id="UsbIpServer.exe"
                        Name="usbipd-win"
                        Protocol="tcp"
                        Port="3240"
                        Profile="all"
                        Scope="localSubnet"
                    />
                </File>
                <ServiceInstall
                    Type="ownProcess"
                    ErrorControl="ignore"
                    Name="usbipd-win"
                    Arguments="server"
                    Start="auto"
                    />
                <ServiceControl
                    Id="UsbIpServer.exe"
                    Name="usbipd-win"
                    Remove="uninstall"
                    Stop="both"
                    Start="install"
                    />
            </Component>
        </DirectoryRef>
    </Fragment>
</Wix>
