<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: 2025 Frans van Dorsselaer

SPDX-License-Identifier: GPL-3.0-only
-->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="UsbIds" Directory="APPLICATIONFOLDER" Source="$(var.PublishDir)">
            <File Id="usb.ids" Name="usb.ids" />
        </ComponentGroup>
    </Fragment>
</Wix>
