<?xml version="1.0" encoding="UTF-8"?>
<!--
SPDX-FileCopyrightText: 2024 Frans van Dorsselaer

SPDX-License-Identifier: GPL-3.0-only
-->
<Wix xmlns="http://wixtoolset.org/schemas/v4/wxs">
    <Fragment>
        <ComponentGroup Id="WSL" Directory="APPLICATIONFOLDER" Subdirectory="WSL" Source="$(var.PublishDir)\WSL">
            <File Id="WSL_README.md" Name="README.md" />
            <File Id="usbip" Name="usbip" />
            <File Id="auto_attach.sh" Name="auto-attach.sh" />
        </ComponentGroup>

        <!--
        This directory gets mounted within WSL, and Linux should not treat ordinary files as executable.
        We want to inherit all rights + add a deny for execution of non-executable files.
        WiX does not have tooling to add a "deny permission".

        NOTE: Add the following for any non-executable files.
        -->
        <!--
        <SetProperty
            Id="FixExecutionRights_file.id"
            Value="&quot;[System64Folder]\icacls.exe&quot; &quot;[#file.id]&quot; /deny &quot;*S-1-1-0:(X)&quot;"
            Sequence="execute" Before="FixExecutionRights_file.id" Condition="$file.id=3"
            />
        <CustomAction Id="FixExecutionRights_file.id" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" DllEntry="WixQuietExec" Return="ignore" Impersonate="no" Execute="deferred" />

        <InstallExecuteSequence>
            <Custom Action="FixExecutionRights_file.id" Before="InstallFinalize" Condition="$file.id=3" />
        </InstallExecuteSequence>
        -->

        <SetProperty
            Id="FixExecutionRights_WSL_README.md"
            Value="&quot;[System64Folder]\icacls.exe&quot; &quot;[#WSL_README.md]&quot; /deny &quot;*S-1-1-0:(X)&quot;"
            Sequence="execute" Before="FixExecutionRights_WSL_README.md" Condition="$WSL_README.md=3"
            />
        <CustomAction Id="FixExecutionRights_WSL_README.md" BinaryRef="Wix4UtilCA_$(sys.BUILDARCHSHORT)" DllEntry="WixQuietExec" Return="ignore" Impersonate="no" Execute="deferred" />

        <InstallExecuteSequence>
            <Custom Action="FixExecutionRights_WSL_README.md" After="InstallFiles" Condition="$WSL_README.md=3" />
        </InstallExecuteSequence>
    </Fragment>
</Wix>
